h2 a {
	padding-left: 10px;
	font-size: 15px;
}

div.wrapper {
	width:800px;
	padding-bottom: 20px;
	
}

.toggle_container {
	margin-left: 20px;
	margin-right: 20px;
	
	border-top: 1px solid #d6d6d6;
	background:  #d6d6d6;
	overflow: hidden;
	font-size: 1.2em;
	clear: both;
}

.thesaurustitle {
	font-size: 14px;
	text-align: left;
}

span.editform {

	margin-left: 20px;

}

table.fields td {
	padding-left: 20px;
}
.infobox { 
	border: solid 3px blue; 
	width:600px; 
	padding: 10px;
}
	
	tr.valrow  td {
		padding-top: 5px;
	}
span.keyword {
font-weight:bold;
padding-right: 5px;
}

input.valinput {

	width: 400px;

}

table.files td {

	padding: 30px;

}

.messagebox {
	margin-top:20px;
	padding: 20px;
	border: solid 1px black;
	width: 500px;
	color: green;
}

.error {
	color: red;
}